@{
    Layout = "~/Views/_template.cshtml";
}
@model Demo0805.Models.bookstore

<div class="table">
    <table class="table table-bordered table-hover">
        <tr class="success">

            <th> @Html.DisplayNameFor(model => model.no) </th>
            <th> @Html.DisplayNameFor(model => model.name) </th>
            <th> @Html.DisplayNameFor(model => model.city) </th>
            <th> @Html.DisplayNameFor(model => model.rank)  </th>
        </tr>

        <tr>
            <td>   @Html.DisplayFor(model => model.no)   </td>
            <td>   @Html.DisplayFor(model => model.name)   </td>
            <td>   @Html.DisplayFor(model => model.city)   </td>
            <td>   @Html.DisplayFor(model => model.rank)   </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <input id="Submit1" type="submit" value="刪除" class="btn btn-warning btn-lg active glyphicon glyphicon-remove" />
    @Html.ActionLink("回上一頁", "Index")
}