@{
    Layout = "~/Views/_template.cshtml";
}
@model Demo0805.Models.bookstore
@using (Html.BeginForm())
{
<div class="table">
    <table class="table table-bordered table-hover">
        <tr class="success">

            <th> @Html.DisplayNameFor(model => model.no) </th>
            <th> @Html.DisplayNameFor(model => model.name) </th>
            <th> @Html.DisplayNameFor(model => model.city) </th>
            <th> @Html.DisplayNameFor(model => model.rank)  </th>
        </tr>

        <tr>
            <td>   @Html.DisplayFor(model => model.no)  </td>
            <td>
                @Html.EditorFor(model => model.name)   @Html.ValidationMessageFor(model => model.name)   </td>
            <td>   @Html.EditorFor(model => model.city)   @Html.ValidationMessageFor(model => model.city)</td>
            <td>   @Html.EditorFor(model => model.rank)   @Html.ValidationMessageFor(model => model.rank)</td>
        </tr>
    </table>
</div>

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <input id="Submit1" type="submit" value="更新" class="btn btn-success btn-lg active glyphicon glyphicon-remove" />
    @Html.ActionLink("回上一頁", "Index")
}